body {
  background-color: #3D2022;
  color: whitesmoke;
}

a {
  color: whitesmoke;
}

.header-line {
  border-color: whitesmoke;
}

.markdown-body blockquote {
  color: wheat;
}

p a:link {
  border-bottom: 1px solid whitesmoke;
}