/* html {
  -webkit-font-smoothing: antialiased;
  background-color: #181a1b;
  color: #abc0d0;
}

a {
  color: #abc0d0;
}

.header-line {
  border-color: #abc0d0;
}

.markdown-body blockquote {
  background-color: #222526;
  color: #2f845e;
}

p a {
  border-bottom: 1px solid #abc0d0;
}

::-moz-selection {
  background-color: #67769660;
}

::selection {
  background-color: #67769660;
} */