 html {
  -webkit-font-smoothing: antialiased;
  background-color: #181a1b;
  color: white;
}

a {
  color: white;
}

.header-line {
  border-color: white;
}

.markdown-body blockquote {
  background-color: #222526;
  color: wheat;
}

p a {
  border-bottom: 1px solid white;
}

::-moz-selection {
  background-color: #67769660;
  color: white;
}

::selection {
  background-color: #67769660;
} 